<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nos produits - {% endblock %}</title>
{#        <link rel="stylesheet" type="text/css" href=" {{ asset('build/css/main.css') }}">#}
    </head>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Accueil</a> </li>
            <li><a href="{{ path('create') }}">Create product</a> </li>
            <li><a href="{{ path('category_index') }}">Show catégories</a> </li>
        </ul>
    </nav>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
