{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    View
{% endblock %}
{% block body %}
    {{ include('_category.html.twig') }}
    <div class="main_article">
        <p class="empty">Il n'y a pas de produits correspondant à votre recherche!</p>
    </div>
{% endblock %}