{% extends 'base.html.twig' %}
{% block title %}
{{ parent() }}
View
{% endblock %}
{% block body %}
    {{ include('_category.html.twig') }}
    {% for product in products %}
        <div class="main_article">
            <div class="picture_product">
                {% if product.picture %}
                    <img src="{{asset('uploads/productPictures/' ~ product.picture)}}" alt="The product picture register"/>
                    {% else %}
                        <img src="{{asset('uploads/productPictures/default.png')}}" alt="The product picture default"/>
                {% endif %}
            </div>
            <div class="product">

                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p><em>{{ product.nameCategory }}</em></p>
                <h4>{{ product.price }}€</h4>
            </div>
            <a href="{{ path('update', {id: product.id}) }}">Update</a>
            <a href="{{ path('delete', {id: product.id}) }}">Delete</a>
        </div>
    {% endfor %}
{% endblock %}